<ul class="breadcrumbs">
	<li class="breadcrumbs__item">
		<a href="#" class="breadcrumbs__link">
			Главная
		</a>
	</li>
	<li class="breadcrumbs__item">
		<a href="#" class="breadcrumbs__link">
			Лекарственные препараты
		</a>
	</li>

	<li class="breadcrumbs__item breadcrumbs__item_reverse">
		<a href="#" class="breadcrumbs__link">
			Витамины
		</a>
	</li>
</ul>